/* Here goes your CSS */
@import 'layout/main';

$color-white: white;
$color-black: black;
$color-red: red;

$font-s: 12px;
$font-m: 22px;
$font-xl: 50px;


.button{
    background: $color-black;
    color: $color-white;
    outline: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup{
    background: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    display: none;
    padding: 30px 20px;

    .close-btn{
        @extend .button;

        position: absolute;
        top:-5px;
        right: -5px;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        padding: 5px;
        font-size: $font-m;
        font-weight: bold;
        transform: rotate(45deg);
        font-family: Arial, sans-serif;
    }

    form{
        display: flex;
        flex-direction: column;

        .login{
            margin-bottom: 3px;
            display: flex;
            justify-content: center;
            font-size: $font-m;
            font-family: 'Lobster', sans-serif;
            font-weight: bold;
        }

        input {
            padding: 12px;
            margin: 9px;
            font-size: $font-s;
            border: 1px solid black;
            outline: 0;
        }

        input[type=checkbox]{
            display: none;

            + label {
                position: relative;
                padding-left: 36px;
                font-size: $font-s;
                margin-top: 8px;
                user-select: none;
                -moz-user-select: none;
            }

            + label:before {
                position: absolute;
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                top: 1px;
                left: 10px;
                cursor: pointer;
                border: 1px solid black;
            }

            &:checked + label:before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f00c";
            }
        }

        .error{
            height: 14px;
            line-height: 22px;
            display: flex;
            justify-content: center;
            align-items: bottom;
            color: $color-red;
            font-size: $font-s;
        }

        input[type=submit]{
            @extend .button;
            text-transform: uppercase;

            &:hover {
                background: #FD878E;
            }
        }
    }
}

.success-message{
    display: none;
    font-family: 'Lobster', cursive;
    font-size: $font-xl;
    animation: success-message-animation 1s; // Success message animation
}

.show{
    display: block;

}
.hide{
    display: none;
}

@keyframes success-message-animation{
    0% { opacity: 0; }
    100% { opacity: 1; }
}



